/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
htmt body {
  width: 100%
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

a, a:hover {
  text-decoration: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
